<% if @organisation %>  
	<div class="organisation">
		<div class="organisation_name">
	  		<%= @organisation.name %>
		</div>
		<div class="organisation_details">
			<h3>General Details</h3>
	  		<%= @organisation.street_address %><br>
	  		<%= @organisation.state %> <br>
	  		<%= @organisation.postal_code %> <br>
	  		<%= @organisation.country %> <br>
	  		<%= @organisation.contact_number %> <br>
	  		<div>
	  			Credit Check: <%= @organisation.credit_check %> <br>
	  			Tax Deductable: <%= @organisation.tax_deductability %> <br>
	  		</div>
	  	</div>
	  	<div class="organisation_summary">
	  		<table class="summary">
	  			<tr>
	  				<td><%= @organisation.total_staff %></td>
	  				<td><%= @organisation.total_countries %></td>
					<td>$<%= @organisation.total_donations %></td>
					<td> <%= @project_count %></td>
	  			</tr>
	  			<tr>
	  				<td><b>Staff</b></td>
	  				<td><b>Countries Operating</b></td>
	  				<td><b>Donations Received</b></td>
	  				<td><b>Projects Listed</b></td>
	  			</tr>
	  		</table>
	  	</div>
	  	<div class="organisation_description">
	  	<%= @organisation.description %>
	  		
	  	</div>

	  <p>Add Project:
		<a href="/organisation/<%= @organisation.organisation_id %>/projectAdd"><input type="submit" value="New Project"></a>
	  </p>

	  <% @project.each do |project| %> 
  		<div class="project_panel col-md-3">
    	<div class="project_header"><span><a href="/project/<%= project.project_id %>/display"><%= project.project_name %></a></span></div>
  	  	  <div class="bold"><%= project.organisation.name %></div> 
	  	  <div class="bold"><%= project.sector %></div> 
	  	  <div class="bold"><%= project.country %></div> 
	      <p>$<%= project.funding_goal %></p>
	      <p><%= project.funding_date %></p>
	      <p><%= project.summary %></p>
	  	  <p><span><a href="/project/<%= project.project_id %>/edit">[edit]</a></span></p>
	  	  <div class="progress">
					        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= project.current_funding %>" aria-valuemin="0" aria-valuemax="<%= project.funding_goal %>" style="width: <%= project.current_funding / project.funding_goal * 100 %>%">
					          <span class="sr-only"><%= project.current_funding / project.funding_goal * 100 %>% Complete (success)</span>
					        </div>
					    </div>
					    <div class="donateButton">
					        <a href="/project/<%= project.project_id %>/display" type="button" class="btn btn-success">Donate</a>
					    </div>
	   </div>
	<% end %>

	

  </div>
<% else %>  
  <p>Organisation not found.</p>  
<% end %>
