<% if @organisation %>  
	<div class="organisation">
		<div class="organisation_name">
	  		<%= @organisation.name %>
		</div>
		<div class="organisation_details">
			<h3>General Details</h3>
	  		<%= @organisation.street_address %><br>
	  		<%= @organisation.state %> <br>
	  		<%= @organisation.postal_code %> <br>
	  		<%= @organisation.country %> <br>
	  		<%= @organisation.contact_number %> <br>
	  		<div>
	  			Credit Check: <%= @organisation.credit_check %> <br>
	  			Tax Deductable: <%= @organisation.tax_deductability %> <br>
	  		</div>
	  	</div>
	  	<div class="organisation_summary">
	  		<table class="summary">
	  			<tr>
	  				<td><%= @organisation.total_staff %></td>
	  				<td><%= @organisation.total_countries %></td>
					<td>$<%= @organisation.total_donations %></td>
	  			</tr>
	  			<tr>
	  				<td><b>Staff</b></td>
	  				<td><b>Countries Operating</b></td>
	  				<td><b>Donations Received</b></td>
	  			</tr>
	  		</table>
	  	</div>
	  	<div class="organisation_description">
	  	<%= @organisation.description %>
	  		
	  	</div>

	  <p>Add Project:
		<a href="/organisation/:organisation_id/add"><input type="submit" value="New Project"></a>
	  </p>

	

  </div>
<% else %>  
  <p>Organisation not found.</p>  
<% end %>
