<div class="row">
	<div class="col-md-3">
		<div class="">
			<img src="Public/Images/Profile.jpg" class="img-responsive" alt="Responsive image">
			<p>First Name: <%= @user.firstname %></p>
			<p>Last Name: <%= @user.lastname %></p>
			<p>Email Address: <%= @user.emailaddress %></p>
		</div>
		
	</div>
	<div class="col-md-8">
		<h1>Donations Made</h1>
		<table class="table table-condensed">
			<tr>
				<th>Donation ID</th>
				<th>Project Name</th>
				<th>Amount</th>
				<th>Date</th>
			</tr>
			<% @donations.each do |donation| %>
				<tr>
					<td><a href="/donation/<%= donation.donation_id %>/display "><%= donation.donation_id %></a></td>
					<td><a href="/project/<%= donation.project.project_id %>/display "><%= donation.project.project_name %></a></td>
					<td>$ <%= donation.amount %></td>
					<td><%= donation.time.strftime("%d/%m/%Y")%></td>
				</tr>
			<% end %>
		</table> 
	</div>
</div>